version: 1
config:
  - type: physical
    name: eth0
    subnets:
      - type: static
        address: 192.168.25.50
        netmask: 255.255.255.0
        gateway: 192.168.25.1
    dns_nameservers: [8.8.8.8, 1.1.1.1]
